@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<body background="https://i.pinimg.com/originals/72/6c/ce/726ccedea1e3e4a5f53274b153150103.png"></body>

<h1>@ViewData["Title"]</h1>
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
