@{
    ViewData["Title"] = "Result";
}

<center>
        <h1><b>Pengirim sedang mempersiapkan pesanan Anda</b></h1>

<div class="form-group">
    <a href="https://localhost:5001/TokoOnlineItem/Kategori">Selesai</a> |
    <a href="https://localhost:5001/TransaksiToko/Transaksi">Batalkan</a>
</div>
</center>
