@model IEnumerable<SistemPembayaran>
@{
    ViewData["Title"] = "Metode Pembayaran";
}

<body background="https://i.pinimg.com/originals/72/6c/ce/726ccedea1e3e4a5f53274b153150103.png"></body>

    <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">METODE PEMBAYARAN</th>
            </tr>
            </thead>
    @foreach (var item in Model)
    {
            <tbody>
            <tr>
                <td><a class="nav-link text-dark" asp-controller="TokoOnline" asp-action="Transaksi" asp-route-id="@item.ID">@item.MetodePembayaran</a></td>
            </tr>
            </tbody>
    }
        </table>

