@{
    ViewData["Title"] = "TransaksiDetail";
}

<body background="https://i.pinimg.com/originals/72/6c/ce/726ccedea1e3e4a5f53274b153150103.png"></body>

<center>
        <h1>Pengirim sedang mempersiapkan pesanan Anda</h1>

<div class="form-group">
    <a href="https://localhost:5001/TokoOnline/Kategori" target="Kategori">Selesai</a>
</div>
</center>
